body {
    display: grid;
    
    grid-template-columns: 3fr 1fr;

    height: 100vh;
    width: 100vw;
}

body, body * {
    margin: 0;
    padding: 0;
    border: 0;
}

#map {
    margin: 2%;
}

section {
    background-color: blue;
    margin: 2%;
}