form.action {
    position: relative;
    height: 95%;
    background-color: var(--primary);
    margin-bottom: 5%;
    margin-top: 5%;

    width: 100%;
    flex: none; 

    display: grid;

    grid-template-rows: 1fr 1fr 15fr 1fr;
    grid-template-columns: 1fr;
    place-items: center;
}

form.action select {
    width: 90%;
    border-radius: 10px;
    margin-top: 4%;
    height: 70%;
    box-shadow: 0 0 4px 1px var(--other);
    background-color: var(--primary);
    outline: none;
}

form.action optgroup {
    border-radius: 10%;
}

form.action select:hover, form.action input:hover {
    box-shadow: 0 0 10px 1px var(--other);
}

form.action input {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    border-radius: 2%;
    background-color: var(--primary);
    box-shadow: 0 0 4px 1px var(--other);
    text-indent: 10px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 150%;
}

div.elementsPoints {
    display: block;
    font-size: 130%;

    width: 95%;
    height: 100%;
    margin: 5%;
    overflow: scroll;
    height: 95%;
}

div.elementsPoints div {
    width: 90%;
    height: 10%;

    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;

    box-shadow: 0 0 10px 1px var(--other);
    position: relative;
    border-radius: 2%;
    margin: 3% auto;
}

.deleteBtn {
    background-color: rgb(255, 0, 0);
    border-radius: 10%;
    margin: 10%;
    height: 50%;
    aspect-ratio: 1;
    box-shadow: 0 0 10px 1px var(--other);
    color: var(--primary);
}

.deleteBtn:hover {
    box-shadow: 0 0 10px 2px var(--other);
}

form.action .createBtn {
    width: 80%;
    border: 1px solid var(--other);
    background-color: var(--primary);
    border-radius: 5%;
}

form.action .createBtn:hover {
    animation: changeColorBtn 0.3s forwards;
}

@keyframes changeColorBtn {
    
    from {
        color: var(--other);
        border-color: var(--other);
    }

    to {
        color: var(--second);
        border-color: var(--second);
    }
}